.login-box,
.register-box {
  width: 360px;
  margin: 7% auto;
}
.login-card-body,
.register-card-body {
  padding: 20px;
}
.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  border-bottom: 1px solid #dee2e6;
}
.card-outline {
  border: 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.125), 0 2px 3px rgba(0, 0, 0, 0.2);
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #007bff;
  border-color: #007bff;
}
.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
.has-feedback .form-control {
  padding-right: 38px;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-addon {
  min-width: 41px;
  text-align: center;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.input-group-addon:last-child {
  border-left: 0;
}
.input-group .form-control:not(:first-child),
.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group > .btn,
.input-group-btn:not(:first-child) > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
